@import "tailwindcss";

@theme {
  --color-emerald-900: #064e3b;
  --color-teal-900: #134e4a;
  --color-green-400: #4ade80;
  --color-cyan-400: #22d3ee;
  --color-purple-600: #9333ea;
}

@source "../src";
